
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">   
        <h2 class="text-center text-dark mt-5">Change your password</h2>
        <div class="card my-5">
          <div class="card-body cardbody-color p-lg-5">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

            <div class="text-center mb-5">
             <%= image_tag("logomini.png", class:'img-fluid profile-image-pic img-thumbnail rounded-circle my-3 w-200px') %>
            </div>

            <div class="field mb-3">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
           <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder:"New Password"%>
             </div>
              <div class="field mb-3">
           <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirm New Password"%>
             </div>

            <div class="actions">
            <%= f.submit "Change my password", class:"btn btn-color px-5 mb-3 w-100" %>
            </div>
            <div id="emailHelp">
            <%= render "devise/shared/links", class:"form-text text-center mb-5 text-dark"%>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
