<!--<main class="containers mb-5 mt-5">

    <div class="img-show mr-5">
        <%= image_tag @item.image_url, height: "500px;"%>
     </div>

     <div class="col-5">
        <div class="info text-left">
        <h1 class="mt-5"> <%= @item.title%><h1>
        <p> <%= @item.description%> </p>
        <p class= "h3 mb-5"> Prix: <%=@item.price%>

        </div>
    </div>
        <%if user_signed_in? %>
    <%end%>


    test affichage panier
        <%= current_user.cart%>
        <%= link_to "Ajouter au Panier", cart_items_path+"?item=#{@item.id}", method: :post %>
        
     <%#= link_to "Ajouter au Panier", cart_path(@cart), method: :put %>


    
  </main> -->

          <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>$40.00</span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>



