        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href=<%=root_path%>><%= image_tag "logobis3.png"%>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>

                        </li>
                    </ul>
                    <form class="d-flex">
                        <% if user_signed_in? %>
      <p>
        <strong>
          Le user loggé est <%= current_user.inspect %><br/>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %><br/>
<<<<<<< HEAD
=======
          <%#= link_to "Voir le cart du current_user", cart_path(current_user.cart) %>
          <!-- La ligne du dessus fait planter l'affichage du cart : à réparer (Julien est dessus)-->


>>>>>>> empty_cart
        </strong>    
      </p>
    <% else %>
      <p>
        <strong>
          Aucun user connecté : <%= link_to "Sign up",  new_user_registration_path %> - <%= link_to "Sign In",  new_user_session_path %>
        </strong>
      </p> 
    <% end %>
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>