<!DOCTYPE html>
<html>
  <head>
    <title>CuteCatShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
  <% if user_signed_in? %>
    <%= current_user.inspect %>
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
     <%= link_to "Sign up",  new_user_registration_path %>
     <%= link_to "Sign In",  new_user_session_path %> 
   <% end %>
    <%= yield %>
  </body>

</html>
