<!DOCTYPE html>
<html>
  <head>
    <title>CuteCatShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
  
  <!-- Affichage des messages de la méthode "flash" -->
    <% flash.each do |type, msg| %>
      <%= msg %>      
    <% end %>


    <% if user_signed_in? %>
      <p>
        <strong>
          Le user loggé est <%= current_user.inspect %><br/>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %><br/>
          <%= link_to "Voir le cart du current_user", cart_path(current_user.cart) %>
        </strong>    
      </p>
    <% else %>
      <p>
        <strong>
          Aucun user connecté : <%= link_to "Sign up",  new_user_registration_path %> - <%= link_to "Sign In",  new_user_session_path %>
        </strong>
      </p> 
    <% end %>

    <%= yield %>


  </body>

</html>
